/* styles.css */
.nav-box {
    padding: 10px;
    margin: 25px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}
